NUXT_DATABASE_URL=postgresql://perd:perd@db.localtest.me:5432/perd
NUXT_LOCAL_DATABASE=1
NUXT_SESSION_SECRET=a165925602027f51ecd748965fd7d494
NUXT_OAUTH_TWITCH_CLIENT_ID=
NUXT_OAUTH_TWITCH_CLIENT_SECRET=
