@import "./variables";
@import "modern-normalize";

:root {
  color-scheme: only light;

  font-family: "Inter", sans-serif;

  // Screen sizes
  --screen-mobile-s: #{$screen-mobile-s};
  --screen-mobile-m: #{$screen-mobile-m};
  --screen-mobile-l: #{$screen-mobile-l};
  --screen-tablet: #{$screen-tablet};
  --screen-desktop-s: #{$screen-desktop-s};
  --screen-desktop-m: #{$screen-desktop-m};
  --screen-desktop-l: #{$screen-desktop-l};

  // Spacings
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;

  // Colors
  --color-blue-50: #f0fafb;
  --color-blue-100: #d8f2f5;
  --color-blue-200: #b5e3ec;
  --color-blue-300: #82cede;
  --color-blue-400: #5ab8cd;
  --color-blue-500: #2d95ad;
  --color-blue-600: #287892;
  --color-blue-700: #266278;
  --color-blue-800: #275263;
  --color-blue-900: #244555;
  --color-blue-950: #132c39;
  --color-white: #fff;
  --color-primary: #244555;
  --color-secondary: #666;

  // Font sizes
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;

  // Font weights
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // Borders
  --border-radius-8: 0.5rem;
  --border-radius-12: 0.75rem;
  --border-radius-16: 1rem;
  --border-radius-24: 1.5rem;

  // Transitions
  --transition-time-quick: 0.15s;
  --transition-time-medium: 0.3s;

  // Buttons
  --button-color-text: #f0fafb;

  // Inputs
  --input-height: 3rem;
  --input-spacing-horizontal: 1rem;
  --input-border-radius: 1rem;
  --input-color-hover-bg: rgba(151, 136, 136, 0.1);
  --input-color-main: #287892;
  --input-color-focus: #a26830;
  --input-color-active: #7a4f24;
  --input-color-text: #244555;
  --input-color-placeholder: #8c8c8c;

  // Secondary inputs
  --input-secondary-color-main: #f0fafb;
  --input-secondary-color-text: #287892;
  --input-secondary-color-border: #287892;
  --input-secondary-color-focus: #d8f2f5;
  --input-secondary-color-active: #b5e3ec;
  --input-secondary-color-disabled: #2d95ad;

  // Small inputs
  --input-small-height: 2rem;
  --input-small-border-radius: 0.75rem;

  // Extra small inputs
  --input-extra-small-height: 1.5rem;
  --input-extra-small-border-radius: 0.5rem;
}
