@media (prefers-color-scheme: light) {
  :root {
    --color-text: oklch(13.77% 0.016 253.54);
    --color-background: oklch(98.37% 0.005 247.88);
    --color-primary: oklch(54.72% 0.144 258.46);

    --color-text-600: oklch(47.58% 0.109 258.20);

    --color-background-50: oklch(95.82% 0.013 251.56);
    --color-background-100: oklch(91.55% 0.027 249.86);
    --color-background-200: oklch(83.28% 0.055 248.49);
    --color-background-300: oklch(74.84% 0.082 249.52);

    --color-primary-50: oklch(95.59% 0.013 255.51);
    --color-primary-100: oklch(91.19% 0.027 257.03);
    --color-primary-300: oklch(73.19% 0.083 258.32);
    --color-primary-500: oklch(55.46% 0.147 258.55);
    --color-primary-600: oklch(47.47% 0.121 258.20);
    --color-primary-700: oklch(38.89% 0.096 258.39);

    --color-secondary-50: oklch(95.59% 0.013 255.51);
    --color-secondary-100: oklch(91.23% 0.025 257.65);
    --color-secondary-200: oklch(82.13% 0.054 259.02);
    --color-secondary-500: oklch(55.61% 0.140 258.32);

    --color-accent-100: oklch(90.87% 0.032 258.37);
    --color-accent-200: oklch(81.71% 0.067 258.36);
    --color-accent-300: oklch(72.60% 0.103 258.29);
    --color-accent-400: oklch(63.72% 0.140 258.31);
    --color-accent-600: oklch(47.24% 0.147 258.80);
    --color-accent-800: oklch(29.76% 0.083 258.56);

    --color-danger: oklch(59.76% 0.202 27.57);
    --color-danger-50: oklch(96.74% 0.015 24.52);
    --color-danger-100: oklch(91.84% 0.033 25.16);
    --color-danger-300: oklch(74.76% 0.102 27.98);
    --color-danger-600: oklch(51.85% 0.173 27.63);
    --color-danger-700: oklch(44.63% 0.148 27.19);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: oklch(96.58% 0.009 258.34);
    --color-background: oklch(11.10% 0.013 239.32);
    --color-primary: oklch(56.34% 0.143 258.42);

    --color-text-600: oklch(64.55% 0.103 258.12);

    --color-background-50: oklch(15.41% 0.020 243.01);
    --color-background-100: oklch(20.93% 0.038 251.48);
    --color-background-200: oklch(31.47% 0.067 250.78);
    --color-background-300: oklch(40.93% 0.092 251.50);

    --color-primary-50: oklch(14.88% 0.022 259.63);
    --color-primary-100: oklch(20.33% 0.038 257.21);
    --color-primary-300: oklch(38.89% 0.096 258.39);
    --color-primary-500: oklch(55.46% 0.147 258.55);
    --color-primary-600: oklch(64.31% 0.114 258.00);
    --color-primary-700: oklch(73.19% 0.083 258.32);

    --color-secondary-50: oklch(14.88% 0.022 259.63);
    --color-secondary-100: oklch(20.33% 0.036 257.69);
    --color-secondary-200: oklch(29.83% 0.068 258.83);
    --color-secondary-500: oklch(55.61% 0.140 258.32);

    --color-accent-100: oklch(20.07% 0.047 258.19);
    --color-accent-200: oklch(29.76% 0.083 258.56);
    --color-accent-300: oklch(38.74% 0.116 258.70);
    --color-accent-400: oklch(47.24% 0.147 258.80);
    --color-accent-600: oklch(63.72% 0.140 258.31);
    --color-accent-800: oklch(81.71% 0.067 258.36);

    --color-danger: oklch(61.17% 0.191 27.98);
    --color-danger-50: oklch(15.63% 0.027 26.19);
    --color-danger-100: oklch(21.62% 0.050 27.28);
    --color-danger-300: oklch(39.31% 0.124 28.16);
    --color-danger-600: oklch(69.24% 0.157 27.96);
    --color-danger-700: oklch(77.16% 0.126 27.75);
  }
}

:root {
  --color-text-secondary: color-mix(in oklch, var(--color-text), transparent 30%);
  --color-overlay-background: oklch(0 0 0 / 50%);
}
