:root {
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

strong {
  font-weight: var(--font-weight-bold);
}

ul,
ol {
  padding-inline-start: 2rem;
}
